:root {
    --green: #00853E;
    --red: #ED081D;
    --background-brown: #FFF6E5;
    --brown: #675b47;
    --light-brown: #7d7058;
    --white: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Kaisei Opti', serif;
}

/* Navbar Start */
#navbar {
    background-color: transparent !important;
    padding: 0px 9% 0px;
    color: white;
}

#logo img {
    width: 130px;
    height: 70px;
    margin-top: 3px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 102, 203);
}

.nav-item .nav-link {
    color: var(--white) !important;
    font-size: 25px;
    font-weight: 550;
    transition: 0.5s;
}

#hero {
    background: url(https://media.istockphoto.com/id/1328820760/photo/aerial-view-of-green-summer-forest-with-spruce-and-pine-trees.jpg?s=2048x2048&w=is&k=20&c=SGV5jiNQ5ht_J0y72rLuZQVoY3Ti9zeqPHsargptm-Y=);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero h1 {
    margin-top: 220px;
    text-align: center;
    font-size: 100px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

#hero h1 {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    letter-spacing: 0.75rem;
}


@media screen and (max-width: 872px) {
    #hero h1 {
        font-size: 50px;
        letter-spacing: normal;
    }
}

/* History Section Start */
.history {
    padding: 10px 11% 100px;
    background-color: var(--white);
}

.history .card {
    border: none;
    background: transparent;
    padding: 20px;
}

.history .card img {
    display: block;
    margin: 0 auto;
    width: 311px;
    height: 470px;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.history .card h3 {
    font-size: 30px;
    color: var(--green);
    margin-bottom: 40px;
}

.history .card p {
    font-size: 20px;
    color: var(--brown);
    margin-bottom: 40px;
}

.history .card .history-btn-container {
    display: flex;
    align-items: flex-start;
}

#history-btn {
    padding: 10px 20px;
    color: var(--white);
    border: 1px solid #00853E;
    background-color: var(--green);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#history-btn:hover {
    background-color: var(--white);
    color: var(--green);
}

@media screen and (max-width: 873px) {
    .history .card {
        align-items: center;
        border: none;
        background: transparent;
        padding: 0;
    }

    .history .card img {
        width: 290px;
        height: 460px;
    }
}




/* History Section End */


/* Top Section Start */
.line {
    background: rgb(25, 216, 114);
    background: linear-gradient(90deg, rgba(25, 216, 114, 1) 0%, rgba(216, 27, 45, 1) 100%);
}

.top-section {
    padding: 10px 11% 100px;
}

.top-section h5 {
    color: var(--green);
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
}

/* .top-section h5 span{
    color: var(--red);
    font-weight: 600;
    font-size: 30px;
} */

.top-section .card {
    /* background-color: #FFF6E5; */
    background-color: var(--background-brown);
    padding: 40px;
}

.top-section h2 {
    color: var(--brown);
    text-align: center;
}

.top-section p {
    margin-top: 10px;
    color: var(--light-brown);
    text-align: center;
    font-size: 16px;

}

.top-section .row {
    margin-top: 30px;
    align-items: center;
}

.top-section .row .card {
    border: none;
    align-items: center;
}

.top-section .card-body img {
    width: 300px;
}

.top-section .card-body {
    text-align: center;
}

.top-section .card-body h1 {
    font-size: 25px;
    font-weight: 600;
}

@media screen and (max-width: 873px) {
    .top-section .card-body img {
        width: 300px;
    }
}

/* Top Section End */


/* Contact Section Start */
.contact {
    padding: 100px 11% 100px;
}

.contact .col-md-5 {
    background: #00853E;
    border-radius: 10px;
    color: white;
    padding: auto;
}

.contact h3 {
    margin-top: 30px;
}

.contact i span {
    margin-left: 10px;
    cursor: pointer;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.col-form-label {
    color: #000;
    font-size: 13px;
}

.btn,
.form-control,
.custom-select {
    height: 45px;
}

.custom-select:active,
.custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

label.error {
    font-size: 12px;
    color: #00853E;
}

#message {
    resize: vertical;
}

#form-message-warning,
#form-message-success {
    display: none;
}

#form-message-warning {
    color: #B90B0B;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

/* Contact Section End */





/* Footer Start */
#footer {
    padding: 15px 11% 15px;
}

#footer .f-content {
    text-align: center;
}

.f-logo img {
    width: 250px;
    cursor: pointer;
}

.f-content i {
    font-size: 18px;
    color: black;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.f-content i:hover {
    background: #ea0d1c;
    color: white;
    border-radius: 5px;
}

.c-content {
    text-align: center;
}

.c-content span a {
    text-decoration: none;
    color: #ea0d1c;

}

/* Footer End */


/* New Contact us Page */
.dbox {
    width: 100%;
    margin-bottom: 25px;
}

@media (max-width: 767.98px) {
    .dbox {
        margin-bottom: 25px !important;
        padding: 0 20px;
    }
}

.dbox p {
    margin-bottom: 0;
}

.dbox p span {
    font-weight: 500;
    color: #000;
}

.dbox p a {
    color: #ea0d1c;
}

.dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ea0d1c;
    margin: 0 auto;
    margin-bottom: 20px;
}

.dbox .icon span {
    font-size: 20px;
    color: #fff;
}

.dbox .text {
    width: 100%;
}

/* New Contact us Page */


/* First Wave Divider */
.custom-shape-divider-top-1707320419 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707320419 svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 136px;
}

.custom-shape-divider-top-1707320419 .shape-fill {
    fill: white;
}



/* First Wave Divider */